.features {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 2rem;

  &__indent {
    margin-bottom: 9rem;
  }

  &__heading {
    grid-column: center-start / center-end;

    margin-bottom: 6rem;
  }
}

.feature-box {
  box-shadow: $bs-1;
  border-radius: $br-3;
  padding: 3rem 5rem;
}
