.stock__btn {
  display: inline-block;

  font-family: $font-primary;
  font-size: 2.4rem;
  font-weight: 400;
  color: $color-black;
  background-color: $color-grey-light-3;

  border-radius: 100px;
  border: 0;
  padding: 1.5rem 2rem;
  cursor: pointer;
  transition: .2s all;

  &:hover {
    background-color: rgba($color-black, .1);
  }
}

.order__btn {
  &:visited,
  &:link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    color: $color-black;

    padding: 1.5rem 4rem;
    border-radius: 100px;
    box-shadow: $br-2;

    transition: all .2s;
  }

  &:hover {
    box-shadow: $br-2-hover;
    transform: translate(0, -2px);
  }

  &:active {
    box-shadow: $br-2-active;
    transform: translate(0, -1px);
  }
}

.popular-goods__btn {
  &:visited,
  &:link {
    justify-self: start;

    display: inline-block;
    text-decoration: none;
    color: $color-black;
    font-size: 1.8rem;
    font-weight: 400;

    border-radius: 3px;
    box-shadow: $br-2;
    padding: 1.5rem 3rem;

    transition: all .2s;
  }

  &:hover {
    box-shadow: $br-2-hover;
    transform: translate(0, -2px);
  }

  &:active {
    box-shadow: $br-2-active;
    transform: translate(0, -1px);
  }
}